.Rproj.user
.Rhistory
.RData
docdbi.Rproj
docdbi.Rcheck
nodbi.Rproj
nodbi.Rcheck
*.tar.gz
revdep/data.sqlite
revdep/library.noindex
revdep/checks.noindex
revdep/checks
revdep/library
private/
CRAN-SUBMISSION
